*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}

#wrapper { 
    max-width: 1300px;
    margin: 0 auto 0 auto;
}

#main {
    background-image: url(Group\ 10.png);
    background-size: auto;
    background-position:  center;
    display:block;
    height: 548px;
    margin: 20px;
    box-sizing: border-box;
}

.content {
    padding-top: 100px;
}

.tekst { 
word-wrap:break-word;
max-width: 450px;
}



.nav ul{
    display: flex;
background-color:white;
list-style: none;
}
@media screen and (max-width: 700px) {
    .nav ul {
        flex-direction: column;
    }
}
.nav li{
    flex: 1 1 0;
}

img  {
width: 744px;
left: 619px;
top: 109px;
position: left;
}

.logo{ 
    padding: 10px;
    text-decoration:none;
    background-color:white ;
}

.border { 
    padding: 10px;
    display: block;
    text-decoration:none;
    background-color:white;
    text-align: center;
    border-right: 1px solid black;
    
}

.without  { 
    display: block;
    padding: 10px;
    text-decoration:none;
    background-color:white;
    text-align: center;
}

.border:hover {
    font-weight: 600;
}

.without:hover {
    font-weight: 600;
}

.prostokat {
    width: 17px;
    height: 17px;
}

#aboutme {
    
    margin: 30 auto 30 auto;
}
.tick {
    width: 25px;
    
}

.b {
    margin: 5px;
}


h1{

}

.square {

width: 17px;
height: 17px;
left: 634px;
top: 809px;
}

h2 {
width: 229px;
height: 33px;
left: calc(50% - 229px/2 + 53.5px);
top: 805px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 22px;
margin: 0 auto 0 auto;
/* or 65% */


color: #000000;

}

.cechy {
    list-style: none;

    margin: 0 auto 0 auto;
}

h3 {
    width: 198px;
height: 33px;
left: calc(50% - 198px/2 + 56px);
top: 1145px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 22px;
/* or 85% */
margin: 0 auto 0 auto;

color: #000000;
}

.main {
    padding: 20px;
}

.box {
    width: 195;
    height: 310;
}

.card-img-top {
    width: 116px;

}

.card-text{
word-wrap:break-word;
max-width: 195px;
}

#myskills {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .myskills {
        flex-direction: column;
    }
}

.box {
    display: block;
    width: 195;
    height: 305;
  
}

.card-text{
    text-align: center;
}

h4{
    text-align: center;
}

.card-img-top{
    align-content: center;
}

.email {
    width: 37px;
}

.a {
    width: 44px;
}